{{!
    This file is part the Local Liquidus plugin for Moodle
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_liquidus/settings_tabs_nav_link

    Template for adding Liquidus settings as tabs.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * id
    * title

    Example context (json):
    { id: 'id', title: 'Title', active: true }
}}
<a class="nav-link {{#active}}active{{/active}}" id="local_liquidus-nav-{{id}}-tab" data-toggle="tab" href="#local_liquidus-nav-{{id}}" role="tab" aria-controls="local_liquidus-nav-{{id}}" aria-selected="{{active}}">{{title}}</a>
